@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Color variables for future use */
  :root {
    /* Light Theme */
    --color-bg: #f8fafc; /* slate.50 */
    --color-bg-secondary: #ffffff;
    --color-accent: #38bdf8; /* sky.500 */
    --color-accent-light: rgba(56, 189, 248, 0.1);
    --color-accent-torch: rgba(30, 64, 175, 0.15); /* blue.700 */
    --color-text: #475569; /* slate.600 */
    --color-dark-1: #0f172a; /* slate.900 */
    --color-dark-2: #334155; /* slate.700 */
    --color-dark-3: #cbd5e1; /* slate.300 */
  }

  .dark {
    --color-bg: #1f1f1f;       /* dark gray */
--color-bg-secondary: #2a2a2a; /* slightly lighter gray for contrast */
    --color-accent: #38bdf8;          /* sky.400 */
    --color-accent-light: rgba(12, 12, 12, 0.183);
    --color-accent-torch: rgba(100, 149, 237, 0.07);
    --color-text: #94a3b8;            /* slate.400 */
    --color-dark-1: #e2e8f0;          /* slate.200 */
    --color-dark-2: #cbd5e1;          /* slate.300 */
    --color-dark-3: #475569;          /* slate.700 */
  }

  @font-face {
    font-family: 'agustina';
    src: url('/fonts/Agustina-Signature.otf') format('opentype');
  }

  * {
    @apply focus:outline-dashed outline-[3px] outline-offset-4 outline-accent;
  }

  ::selection {
    @apply dark:bg-slate-600/30 bg-slate-400/30 text-accent;
  }
}

/* TYPOGRAPHY */

.heading-secondary,
.h2 {
  @apply text-3xl sm:text-4xl capitalize font-medium mb-8 sm:mb-12 text-dark-2;
}
.heading-tertiary,
.h3 {
  @apply text-xl sm:text-2xl tracking-wide capitalize font-medium text-dark-2;
}
